html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
    -webkit-text-size-adjust: none;
}

#img {
    width: 320px;
    height: 500px;
    margin: 0 auto;
    display: block;
    -webkit-filter: blur(28px);
    filter: blur(28px);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#canvas {
    margin: 0 auto;
    display: block;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    /*background-color: #1fc195;*/
}

#blurDiv {
    width: 320px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

.button {
    width: 70px;
    height: 30px;
    position: absolute;
    z-index: 200;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    color: #ffffff;
    bottom: 30px;
    border-radius: 5px;
}

#reset-button {
    background-color: #058;
    left: 50px;
}

#reset-button:hover {
    background-color: #047;
}

#show-button {
    background-color: #085;
    right: 50px;
}

#show-button:hover {
    background-color: #074;
    right: 50px;
}
