
html, body {
    background: #fff;
    font-family: "STHeitiSc-Light"
}

b, blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul, img {
    margin: 0;
    padding: 0;
    list-style: none
}

.clear {
    clear: both;
}

.salemanTips {
    text-align: center;
    margin-top: 0.2rem;
    color: #999999;
    font-size: 0.3rem;
}

.saleman_salemantitle {
    color: #333;
    font-size: 0.3rem;
    text-align: center;
    margin-top: 0.2rem;
}

.qrImage {
    text-align: center;
    margin: 0.3rem auto 0 auto;

}

